<app-page-header name="Harmonisches Hören"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/stufendiktate-leitereigen" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: leitereigen</a>
    <a routerLink = "/stufendiktate-v-v" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: (V):V</a>
    <a routerLink = "/stufendiktate-v-ii" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: (V):II</a>
    <a routerLink = "/stufendiktate-v-vi" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: (V):VI</a>
    <a routerLink = "/stufendiktate-v-iv" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: (V):IV</a>
    <a routerLink = "/stufendiktate-v-x" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: (V):?</a>
    <a routerLink = "/stufendiktate-n" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: N</a>
    <a routerLink = "/stufendiktate-ue" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: Ü</a>
    <a routerLink = "/stufendiktate-verschiedenes" class="btn btn-primary w-75 m-2 p-3">Stufendiktate: Verschiedenes</a>
    <a routerLink = "/Kurse" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>