<div class="d-flex flex-column align-items-center">
	<ngb-alert [dismissible]="false" class="w-75 mt-5 p-3">
		<strong>Achtung!</strong> Es ist für Sie noch kein Login eingerichtet. Aus Copyright-Gründen haben Sie deshalb noch keinen Zugang zu dieser Seite. Clicken Sie auf den unteren Link, um zu einem Probe-Diktat zu gelangen.
</ngb-alert>
<a routerLink = "/hd0215-schubert-schwanengesang-kriegers-ahnung" class="align-items-center btn btn-primary w-75 mt-3 p-3">HD0215 - Schubert: Schwanengesang - Kriegers Ahnung</a>