<app-page-header name="Satzmodelle"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/zweistimmige.parallelfuehrung" class="btn btn-primary w-75 m-2 p-3">Zweistimmige Parallelführung</a>
    <a routerLink = "/synkopenkette-abwaerts" class="btn btn-primary w-75 m-2 p-3">Fallende Synkopenkette</a>
    <a routerLink = "/quintfall-sequenzen" class="btn btn-primary w-75 m-2 p-3">Quintfall-Sequenz</a>
    <a routerLink = "/faux-bourdon" class="btn btn-primary w-75 m-2 p-3">Faux-Bourdon</a>
    <a routerLink = "/parallelismus-sequenz" class="btn btn-primary w-75 m-2 p-3">Parallelismus-Sequenz</a>
    <a routerLink = "/tetrachord-modelle" class="btn btn-primary w-75 m-2 p-3">Tetrachord-Modelle</a>
    <a routerLink = "/steigende-sequenzen" class="btn btn-primary w-75 m-2 p-3">Steigende Sequenzen</a>
    <a routerLink = "/startseite" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>