<app-page-header name="Rhythmisches Hören"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/binaere-diktate-mit-betonung-des-ackzentstufentaktes" class="btn btn-primary w-75 m-2 p-3">binär mit Betonung des Ackzentstufentaktes</a>
    <a routerLink = "/ternaere-diktate-mit-betonung-des-ackzentstufentaktes" class="btn btn-primary w-75 m-2 p-3">ternär mit Betonung des Ackzentstufentaktes</a>
    <a routerLink = "/binaere-diktate-mit-synkopen" class="btn btn-primary w-75 m-2 p-3">binär mit Synkopen</a>
    <a routerLink = "/ternaere-diktate-mit-synkopen" class="btn btn-primary w-75 m-2 p-3">ternär mit Synkopen</a>
    <a routerLink = "/diktate-mit-schnellen-notenwerten" class="btn btn-primary w-75 m-2 p-3">schnelle Notenwerte</a>
    <a routerLink = "/diktate-mit-ungeraden-taktarten" class="btn btn-primary w-75 m-2 p-3">ungerade Taktarten</a>
    <a routerLink = "/diktate-mit-wechselnden-taktarten" class="btn btn-primary w-75 m-2 p-3">wechselnde Taktarten</a>
    <a routerLink = "/diktate-mit-valeurs-ajoutees" class="btn btn-primary w-75 m-2 p-3">Valeurs Ajoutées</a>
    <a routerLink = "/diktate-mit-polyrhythmen-undpolymetren" class="btn btn-primary w-75 m-2 p-3">Polyrhythmen & Polymetren</a>
    <a routerLink = "/Kurse" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>