<app-page-header name="Intervallisches Hören"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/voruebungen-intervallisches-hoeren" class="btn btn-primary w-75 m-2 p-3">Vorübungen</a>
    <a routerLink = "/melodiediktate-mit-sekunden" class="btn btn-primary w-75 m-2 p-3">Sekunde</a>
    <a routerLink = "/melodiediktate-mit-quarten" class="btn btn-primary w-75 m-2 p-3">Quarte</a>
    <a routerLink = "/melodiediktate-mit-quinten" class="btn btn-primary w-75 m-2 p-3">Quinte</a>
    <a routerLink = "/melodiediktate-mit-terzen" class="btn btn-primary w-75 m-2 p-3">Terz</a>
    <a routerLink = "/melodiediktate-mit-tritoni" class="btn btn-primary w-75 m-2 p-3">Tritonus</a>
    <a routerLink = "/melodiediktate-mit-sexten" class="btn btn-primary w-75 m-2 p-3">Sexte</a>
    <a routerLink = "/melodiediktate-mit-kleinen-septen" class="btn btn-primary w-75 m-2 p-3">kleine Septim</a>
    <a routerLink = "/melodiediktate-mit-grossen-septen" class="btn btn-primary w-75 m-2 p-3">grosse Septim</a>
    <a routerLink = "/melodiediktate-mit-intervallen-bis-zur-oktave" class="btn btn-primary w-75 m-2 p-3">Intervalle bis zur Oktav</a>
    <a routerLink = "/melodiediktate-mit-grossen-intervallen" class="btn btn-primary w-75 m-2 p-3">Intervalle grösser als die Oktav</a>
    <a routerLink = "/verschiedene-melodiediktate" class="btn btn-primary w-75 m-2 p-3">Verschiedene Melodiediktate</a>
    <a routerLink = "/Kurse" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>