<app-page-header name="Melodisches Hören"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/voruebungen" class="btn btn-primary w-75 m-2 p-3">Vorübungen</a>
    <a routerLink = "/dur-leitereigen" class="btn btn-primary w-75 m-2 p-3">Dur leitereigen</a>
    <a routerLink = "/moll-leitereigen" class="btn btn-primary w-75 m-2 p-3">Moll leitereigen</a>
    <a routerLink = "/dur-leiterfremde-toene" class="btn btn-primary w-75 m-2 p-3">Dur mit leiterfremden Tönen</a>
    <a routerLink = "/moll-leiterfremde-toene" class="btn btn-primary w-75 m-2 p-3">Moll mit leiterfremden Tönen</a>
    <a routerLink = "/dur-ausweichung-oder-diatonische-modulation" class="btn btn-primary w-75 m-2 p-3">Dur mit Ausweichung oder diatonischer Modulation</a>
    <a routerLink = "/moll-ausweichung-oder-diatonische-modulation" class="btn btn-primary w-75 m-2 p-3">Moll mit Ausweichung oder diatonischer Modulation</a>
    <a routerLink = "/dur-moll-anspruchsvolle-diktate" class="btn btn-primary w-75 m-2 p-3">Anspruchsvolle Diktate</a>
    <a routerLink = "/Kurse" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>