<app-page-header name="HD0114 - Händel - Alcina: Verdi Prati"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <button type="button" class="btn btn-primary w-75 m-2 p-2" (click)="playSound1()"><span class="bi bi-play-circle-fill"></span> Ganzes Beispiel</button>
    <button type="button" class="btn btn-primary w-75 m-2 p-2" (click)="playSound2()"><span class="bi bi-play-circle-fill"></span> Takt 1-4</button>
    <button type="button" class="btn btn-primary w-75 m-2 p-2" (click)="playSound3()"><span class="bi bi-play-circle-fill"></span> Takt 5-8</button>
    <button class="btn btn-primary w-75 m-2 p-3" (mouseover)="showImage=true" (mouseout)="showImage=false">Lösung</button>
    <img
    *ngIf="showImage"
    src="../assets/HD0114/loesung.png" class="img-thumbnail" alt="">
</div>