<app-page-header name="Stufendiktate: (V):V"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/hd0200-klavierdiktate" class="btn btn-primary w-75 m-2 p-3">HD0200 - Klavierdiktate</a>
    <a routerLink = "/hd0201-mozart-streichquartett-kv590" class="btn btn-primary w-75 m-2 p-3">HD0201 - Mozart: Streichquartett KV 590</a>
    <a routerLink = "/hd0202-haydn-streichquartett-op.76.6" class="btn btn-primary w-75 m-2 p-3">HD0202 - Haydn: Streichquartett Op. 76.6</a>
    <a routerLink = "/hd0203-haydn-sonate-hob.xvi" class="btn btn-primary w-75 m-2 p-3">HD0203 - Haydn: Sonate Hob. XVI</a>
    <a routerLink = "/hd0204-haydn-symphonie-nr.103" class="btn btn-primary w-75 m-2 p-3">HD0204 - Haydn: Symphonie Nr. 103</a>
    <a routerLink = "/hd0205-mozart-serenade-kv388" class="btn btn-primary w-75 m-2 p-3">HD0205 - Mozart: Serenade KV 388</a>
    <a routerLink = "/hd0206-beethoven-an-die-ferne-geliebte" class="btn btn-primary w-75 m-2 p-3">HD0206 - Beethoven: An die ferne Geliebte</a>
    <a routerLink = "/hd0207-beethoven-klavierkonzert-nr5" class="btn btn-primary w-75 m-2 p-3">HD0207 - Beethoven: Klavierkonzert Nr. 5.II</a>
    <a routerLink = "/hd0208-schubert-der-sieg" class="btn btn-primary w-75 m-2 p-3">HD0208 - Schubert: Der Sieg</a>
    <a routerLink = "/hd0209-schumann-fruelingsgruss" class="btn btn-primary w-75 m-2 p-3">HD0209 - Schumann: Frühlingsgruss</a>
    <a routerLink = "/hd0210-schumann-vier-husarenlieder" class="btn btn-primary w-75 m-2 p-3">HD0210 - Schumann: Vier Husarenlieder</a>
    <a routerLink = "/hd0211-schumann-die-huette" class="btn btn-primary w-75 m-2 p-3">HD0211 - Schumann: Die Hütte</a>
    <a routerLink = "/hd0212-haydn-symphonie68" class="btn btn-primary w-75 m-2 p-3">HD0212 - Haydn: Symphonie Nr. 68</a>
    <a routerLink = "/hd0213-schubert-streichquartett-d46" class="btn btn-primary w-75 m-2 p-3">HD0213 - Schubert: Streichquartett D46</a>
    <a routerLink = "/hd0214-brahms-der-verrat" class="btn btn-primary w-75 m-2 p-3">HD0214 - Brahms: Der Verrat</a> 
    <a routerLink = "/hd0215-schubert-schwanengesang-kriegers-ahnung" class="btn btn-primary w-75 m-2 p-3">HD0215 - Schubert: Schwanengesang - Kriegers Ahnung</a> 
    <a routerLink = "/Kurse" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>