<app-page-header name="Kurse"></app-page-header>
<div class="d-flex flex-column align-items-center">
    <a routerLink = "/harmonisches-hoeren" class="btn btn-primary w-75 m-2 p-3">Harmonisches Hören</a>
    <a routerLink = "/melodisches-hoeren" class="btn btn-primary w-75 m-2 p-3">Melodisches Hören</a>
    <a routerLink = "/intervallisches-hoeren" class="btn btn-primary w-75 m-2 p-3">Intervallisches Hören</a>
    <a routerLink = "/rhythmisches-hoeren" class="btn btn-primary w-75 m-2 p-3">Rhythmisches Hören</a>
    <a routerLink = "/Satzmodelle" class="btn btn-primary w-75 m-2 p-3">Satzmodelle</a>
    <a routerLink = "/hoeranalyse" class="btn btn-primary w-75 m-2 p-3">Höranalyse</a>
    <a routerLink = "/startseite" class="btn btn-primary w-75 m-2 p-3">zurück</a>
</div>